build/*
install/*
test/*
test.root
LocalRuns/**
external/lhapdf/*
external/libtorch/*
config/config.*
!config/config.default
**/Skim*.json
external/** 
*.onnx
!external/KinematicFitter
!external/jsonpog-integration
!external/RoccoR
**/__pycache__/**
.DS_Store
SKFlatAnalyzer
SKNanoOutput

#Temporary Added to my personal temp files
DataCOPY/** 
MCCOPY/**
.vscode/**
.cursor/**
